language: android
cache:
  directories:
   - node_modules
sudo: false

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - platform-tools
    # - tools

    # The BuildTools version used by your project
    - build-tools-22.0.1

    # The SDK version used to compile your project
    - android-22

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-22
    - accessibility-test-framework-2.0
    - appcompat-v7-22.2.1
    - espresso-contrib-2.2
    - espresso-core-2.2
    - espresso-idling-resource-2.2
    - espresso-intents-2.2
    - exposed-instrumentation-api-publish-0.3
    - hamcrest-core-1.3
    - hamcrest-integration-1.3
    - hamcrest-library-1.3
    - javawriter-2.1.1
    - javax.annotation-api-1.2
    - javax.inject-1
    - jsr305-2.0.1
    - junit-4.12
    - recyclerview-v7-22.2.0
    - rules-0.3
    - runner-0.3
    - support-annotations-22.2.1
    - support-v4-22.2.0
    - support-v4-22.2.1

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    #- sys-img-armeabi-v7a-android-19
    #- sys-img-x86-android-17

  licenses:
    - 'android-sdk-license-.+'

#env:
  #global:
   # install timeout in minutes (2 minutes by default)
    #- ADB_INSTALL_TIMEOUT=8

# Emulator Management: Create, Start and Wait
#before_script:
  #- echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  #- emulator -avd test -no-skin -no-audio -no-window &
  #- android-wait-for-emulator
  #- adb shell input keyevent 82 &

script:
  - android list target
  - ./gradlew assemble